@page "/add-news"
@using CommonLayer
@using Microsoft.AspNetCore.Authorization

@model RazorNews.Pages.Newses.CreateNewsModel
@{
}

@* @attribute [Authorize(Roles = "admin")]
 *@
<div class="post_content">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form method="post" enctype="multipart/form-data">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <span class="input-group-addon" id="tittle">
                    <label asp-for="NewsDto.Title" class="control-label"></label>
                </span>
                <input asp-for="NewsDto.Title" type="text" class="form-control">
            </div>
            <span asp-validation-for="NewsDto.Title" class="text-danger"></span>
            <br class="border-4" />
            <div class="form-group">
                <span class="input-group-addon" id="shortDescription">
                    <label asp-for="NewsDto.ShortDescription" class="control-label"></label>
                </span>
                <input asp-for="NewsDto.ShortDescription" type="text" class="form-control">
            </div>
            <span asp-validation-for="NewsDto.ShortDescription" class="text-danger"></span>

            <div class="form-group">
                <span class="input-group-addon" id="keyWord">
                    <label asp-for="NewsDto.Tags" class="control-label"></label>
                </span>
                <input asp-for="NewsDto.Tags" type="text" class="form-control" placeholder="کلمات را با کاما ، از هم جدا کنید.">
            </div>
            <span asp-validation-for="NewsDto.Tags" class="text-danger"></span>

            <div class="input-group">
                <span class="input-group-addon" id="Description">
                    <label asp-for="NewsDto.Description" class="control-label"></label>
                </span>
                <textarea rows="10"  asp-for="NewsDto.Description" type="text" class="form-control"></textarea>
            </div>
            <span asp-validation-for="NewsDto.Description" class="text-danger"></span>

            <div class="form-group">
                <label asp-for="NewsDto.ImageItem" class="control-label"></label>
                <div class="panel-body">
                    <img id="imgNews" class="thumbnail img-thumbnail" src="/@StaticDetail.Default_Src_News_Image/@StaticDetail.Default_News_Image" />
                    <div class="form-group">
                        <label>انتخاب تصویر</label>
                        <input type="file" asp-for="NewsDto.ImageItem" multiple>
                    </div>
                </div>
            </div>
            <span asp-validation-for="NewsDto.ImageName" class="text-danger"></span>

            <div class="form-group">
                <input type="submit" value="ثبت خبر" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@* <script src="~/site/js/ckeditor/ckeditor.js"></script>
<script>
            ClassicEditor
            .create(document.querySelector('#Description'))
            .catch(error => {
                console.error(error);
            });
    // CKEDITOR.replace('Description', {
    //     cloudServices_tokenUrl: '',
    //     extraPlugins: '',
    //     removePlugins: 'easyimage,cloudservices',
    //     filebrowserUploadUrl: '/CreateNews?handler=UploadImage',
    //     filebrowserUploadMethod: 'form'
    // });
</script> *@


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgNews').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#NewsDto_ImageItem").change(function () {
            readURL(this);
        });
    </script>
}
