@page "/ContactUs"
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container-fluid">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="post_content text-center">
            <div class="col-md-5">
                <div class="footer-box contact-box left">
                    <span class="title">تماس با ما</span>
                    <p><i class="fa fa-phone"></i> 09028468446</p>
                    <p><i class="fa fa-phone"></i> 09336636892</p>
                    <p><i class="fa fa-envelope-o"></i> info@seo90.ir</p>
                    <p><i class="fa fa-map-marker"></i> تبریز </p>
                </div>
            </div>
        </div>
    </div>
</div>
